<header>
    <div class="header__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <nav class="header__menu">
        <ul class="header__menu__sitio">
            <li><a href="/products/category/1">Celulares</a></li>
            <li><a href="/products/category/2">Tablets</a></li>
            <li><a href="/products/category/3">Computadoras</a></li>
        </ul>
        <ul class="header__menu__usuarios">
            <li><a href="/users/register">Registro</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </nav>
</header>