<header>
    <div class="header__logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <nav class="header__menu">
        <ul class="header__menu__sitio">
            <li><a href="/products/category/1">Celulares</a></li>
            <li><a href="/products/category/2">Tablets</a></li>
            <li><a href="/products/category/3">Computadoras</a></li>
            <% if (locals.userLogin?.rol === "admin") { %>
                <li><a href="/admin">Admin</a></li>
            <% } %>

        </ul>
        <ul>
            <form action="/products/search" method="GET">
                <div class="d-flex">
                    <input type="text" name="keyword" placeholder="Buscar productos..." class="form-control">
                    <button type="submit" class="btn btn-outline-light ms-1">Buscar</button>
                </div>
            </form>
        </ul>
        <ul class="header__menu__usuarios">
            <% if (!locals.userLogin) { %>
                <li><a href="/users/register">REGISTRATE</a></li>
                <li><a href="/users/login">INGRESA</a></li>
            <% }else{ %>
                <li class="text-white">Hola <%= userLogin.nombre %> </li>
                <li><a href="/users/logout">SALIR</a></li>
            <% } %>
           
        </ul>
    </nav>
</header>