<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="index">
    <header>
        <div class="header__logo">
            <a href="/"><a href=""><img src="/images/logo.png" alt=""></a></a>
        </div>

        <nav class="header__menu">
            <ul class="header__menu__sitio">
                <li><a href="">Smartphone</a></li>
                <li><a href="">Tables</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul class="header__menu__usuarios">
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="index__products">
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-01.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-02.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <article class="index__products__product">
                <a href=""><img src="/images/img-phone-03.jpg" alt=""></a>
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
        </section>
        <aside>
            <section class="index__tutorials">
                <h3>Tutoriales</h3>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-01.jpg" alt="">
                    <p>Título del tutorial de reparación</p>
                </article>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-02.jpg" alt="">
                    <p>Título del tutorial de reparación</p>
                </article>
                <article class="index__tutorials__tutorial">
                    <img src="/images/aside-03.jpg" alt="">
                    <p>Título del tutorial de reparación</p>
                </article>
            </section>
            <section class="index__advertising">
                <h3>Publicidad</h3>
                <article class="index__advertising__add">
                    <img src="/images/ad-01.jpg" alt="">
                    <img src="/images/ad-02.jpg" alt="">
                </article>
            </section>
        </aside>
    </main>
</body>

</html>