<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : 'Login'
    })  %> 

<body class="login">
    <%- include('./partials/header') %> 

    <main >
        <section>
            <h1>Ingresá</h1>
            <hr>
            <form>
                <article>

                <div class="login__form-box">
                    <label for="email">Email</label>
                    <input class="login__form-input" type="email" id="email" name="email" placeholder="Escribí tu email">
                     <span class="login__text-error">Obligatorio</span>
                </div>
                <div class="login__form-box">
                    <label for="password">Contraseña</label>
                    <input class="login__form-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                     <span class="login__text-error">Obligatorio</span>
                </div>
              
                <div class="login__form-box login__center">
                    <input class="" type="checkbox" name="recordame" id="recordame">
                <label for="recordame">Recordame</label>
                </div>
                <div class="login__form-box login__center">

                <button type="submit">Ingresar</button>
                
                </div>
            </article>

            </form>

        </section>

    </main>
</body>
</html>