<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
    title : 'Detalle del producto'
})  %> 

<body>
    <%- include('./partials/header') %> 

    <h1>Detalle del producto</h1>
</body>
</html>