.login main{
    padding: 0 20px;
}
.login section{
    width: 100%;
    background-color: white;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
}
.login h1{
    text-transform: uppercase;
    text-align: center;
}
.login form{
    margin-top: 30px;
}

.login__form-box{
    margin-bottom: 20px;
    width: 100%;
}

.login h4{
    margin-bottom: 10px;
}

.login__form-input, .login__form-select{
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 5px;
}

.login__text-error{
    color: red;
    font-size: 0.8rem;
    margin-left: 5px;
}

.login__radio-box{
    margin: 0 0 10px 5px;
}

.login__center{
   text-align: center;
}

.login button{
    border: none;
    padding: 10px;
    background-color: steelblue;
    color: white;
    text-align: center;
    border-radius: 5px;
}

@media (min-width:768px){
   .login section{
        width: 60%;
    }
}

@media (min-width:1024px){
    .login section{
        width: 40%;
    }
}